html{
    font-size: 62.5%;
}

                    /********************************/             
                    /***  screen  width <= 500px ***/

.container{ 
    width:100%; 
    height: auto;
}

                    /*******************/
                    /***   Header   ***/

.en-tete__hero{
    max-width: 100%;
    margin: auto;
}
.en-tete__hero_hero-img{
    width: 100%;
}
.en-tete__logo{
    text-align: center;
    margin-top: -3rem;
}
.en-tete__logo_logo-img{
    width:30%;
    border-radius: 5%;
}
.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.en-tete__title{
    text-align: center;
    margin-top: 3rem;
    width:100%;
}
.en-tete__title_metier{
        margin: 1.5rem 2rem 2rem;
        font-size: 2grem;
    }
.en-tete__title_enseigne{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;  
}
.en-tete__title_commune{
    font-weight: bold;
    font-size: 1.5rem;
}
.en-tete__contact{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.button{
    display: flex;
    padding: 1vw;
    min-width: 12rem;
    background: #e4b8c3;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: 1.5vw 1vw 1vw #e99fb1;
    justify-content: space-evenly;
    align-items: center;
}
.en-tete__contact_icone{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.8rem;
}
.en-tete__contact-text{
    font-size: 1.3rem;
    font-weight: bold; 
    margin-right: 0.8rem;  
}

                    /**********************************/
                    /*** Main --> Section Services ***/

.services{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem;
    width:100%;
}
.services__title{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3vw;
}
.services__lambda{
    display: flex;
    margin: 3vw auto ;
    align-items: center;
    box-shadow: 0 0 1vw #e99fb1;
    flex-direction: column;
    width: 80%;
    border-radius: 20px;  
}
.services__lambda_title{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}
.services__lambda_text{
    width: 90%;
    margin-bottom: 1em;
    font-size: 1.4em;
    text-align: justify;  
}
.services__lambda_photos{
    text-align: center;
}

                    /*********************************/
                    /***  Présentations des photos ***/

 .photo{ 
    box-shadow: 0 0 2vw #2e2027;
    border-radius: 10px; 
    width: 35%; 
    margin: 20px 5%;  
}
.photo5{
    transform: rotate(0deg) translate(0vw, -4vw);
}
.photo8{
    transform: rotate(0deg) translate(0vw, -4vw);
} 
.photo9{
    transform: rotate(0deg) translate(0vw, -4vw);   
}
.photo13{
    transform: rotate(0deg) translate(0vw, -5vw);
} 
.photo18{
    transform: rotate(0deg) translate(0vw, -1vw);
} 

                    /********************/
                    /*** Social media ***/

.socialmedia{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    margin: 0 auto 1rem; 
}
.socialmedia-title{ 
    padding: 0.5rem;
    font-size: 1rem; 
    text-decoration: underline; 
    color: purple;
}
.socialmedia-icons{
    padding: 0.3em;
}
.socialmedia-img{
   width: 25px;
   margin:  0.1em 2em;
}

                    /****************************************/
                    /*** Styles de la barre de navigation ***/

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e99fb1;
    padding: 0.5rem 0.5rem;
    color: white;
    position: -webkit-sticky; /* Compatibilité Safari */
    position: sticky;
    width: 100%; /* Ou toute largeur < 100% */
    z-index: 1000; /* Reste au-dessus du contenu */
    /* Optionnel : ajout d'une bordure ou ombre pour la visibilité */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.navbar.navbar-bottom{
    bottom: 0;
    width:100%;
    height: 2.5em;
}
.navbar-bottom{
    bottom: 0;
    width:20%;
    min-width: 100px;  
}
.navbar-top{
    display: none;
}
.logo { 
    font-size: 1.5rem; 
    font-weight: bold; 
}

                    /**********************/
                    /*** Liste de liens ***/

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: auto;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 3vw;
    transition: color 0.3s;
}

.nav-links a:hover { 
    color: #000;
 }


                    /************************/
                    /*** Mentions Légales ***/

.mentions{
    width:80%;
    margin:auto;
    padding-bottom: 2rem;
}
.footer-nav{
    text-align: center;
    padding: 1rem 0px 1.8rem;
}
.mentions-link{
    font-size: 0.9rem;
}

                    /****************************************************/                   
                    /*** Réduction taille des liens sur petits écrans ***/

@media (max-width: 310px) {
    .nav-links a{
        font-size: 0.5rem;
    } 
    .button{
        min-width: 0.8rem;
    }
    .en-tete__contact_icone{
        width: 1rem;
        height: 1rem;
        margin: 0.8rem;
    }
    .en-tete__contact-text{
        font-size: 0.8rem;
        margin-right: 0.8rem; 
    }
    .socialmedia-img{
        width: 2rem;
        margin:  0.1em 1.5em;
    }
    .en-tete__title_metier{
        margin: 1rem auto 1.5rem;
        font-size: 1.5rem;
    }
    .en-tete__title_enseigne{
        font-size: 2rem;  
    }
    .en-tete__title_commune{
        font-size: 1rem;
    }
    .en-tete__logo{
        margin-top: -1.5rem;
    }
}

                    /*****************************/
                    /**  Screen width  > 580 px **/

@media screen and (width >= 570px){
    .container{
        background-color: #FFF;
        width: 70%;
        margin: auto; 
    }
    .en-tete__title_metier{
        margin: 1.5rem 4rem 2rem;
        font-size: 2.5rem;
    }
    .en-tete__title_enseigne{
        font-size: 3.5rem;
        margin-bottom: 2rem;  
    }
    .en-tete__title_commune{    
        font-size: 2rem;
    }
    .en-tete__contact{
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .button{
        border-radius: 20px;
    }
    .services__title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .services__lambda{
        width:100%;
    }
    .services__lambda_title{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .services__lambda_text{
        font-size: 1.8rem;
    }
    .socialmedia-title{ 
        padding: 0.8rem;
        font-size: 1.8rem; 
    }
    .socialmedia-img{
        width: 40px;
        margin:  0.3em 4em;
    }

    .navbar.navbar-top{
        display: flex;
        width: 100%;
        position: -webkit-sticky;
        padding: 1rem 0.2rem;
        top: 0;
       
    }
    .navbar-mentions.navbar-top{
        display: flex;
        width:10%;
        top: 0;
    }
    .navbar-bottom {
        display: none;
    }
    .nav-links a {
        font-size: 1.7rem;
    }
    .mentions-link{
        font-size: 1.2em;
    }
    .footer-nav{
        text-align: center;
        padding: 0em 0em 2em;
    }
    .mentions-link{
        font-size: 1.2rem;
    }
}
 
                    /*******************************/
                    /***  Screen width > 1000 px ***/

@media screen and (width >= 1000px){
    .container{
        background-color: #FFF;
        width: 70vw;
        margin: auto; 
    }
    .en-tete__logo{
    margin-top: -7rem;
}
    .en-tete__title_metier{
        margin: 5rem 5rem 5rem;
        font-size: 4rem;
    }
    .en-tete__title_enseigne{
        font-size: 5rem;
        margin-bottom: 5rem;  
    }
    .en-tete__title_commune{    
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    .button{
        border-radius: 30px;
        min-width: 30rem;
    }
    .en-tete__contact_icone{
        width: 4rem;
        height: 4rem;
        margin: 1.5rem;
    }
    .en-tete__contact-text{
        font-size: 4rem;
        font-weight: bold; 
        margin-right: 0.8rem;  
    }
    .services__title{
        font-size: 4rem;
        margin-top: 5rem;
    }
    .services__lambda_title{
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .services__lambda_text{
        font-size: 2.8rem;
    }
    .nav-links{
        gap:30px;
    }
    .nav-links a{
        font-size: 3rem;
    }
    
}
