/* @media screen and (width <= 493px) { */

.container{
    background-color: #FCEEEE;
    width:70vw;
    margin: auto;
    border: 1px solid rgb(200, 119, 119);
    
}
.logo-img{
    width: 150px;
}
.en-tete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.menu {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
ul {
    margin-right: 20px;
}
section{
    background-color: #FFDEE2;
    min-width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 50px;
}
footer{
    margin: 5px;
}
}