
                   
                    /**  screen  width <= 500px **/


.container{
    background-color: #FFF;   
    
}

                        /***   Header   ***/


.en-tete__hero{
    max-width: 100vw;
    margin: auto;
}
.en-tete__hero_hero-img{
    width: 100%;
}
.en-tete__logo{
    text-align: center;
    margin-top: -5vw;
}
.en-tete__logo_logo-img{
    width:30%;
    border-radius: 5%;
}
.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.en-tete__title{
    text-align: center;
    margin-top: 5vw;
}
.en-tete__title_metier{
    font-weight: bold;
    margin: 5vw 5vw;
    font-size: 4vw;
}
.en-tete__title_enseigne{
    font-weight: bold;
    font-size: 6vw;
    margin-bottom: 5vw;  
}
.en-tete__title_commune{
    font-weight: bold;
    font-size: 3vw;
}
.en-tete__contact{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vw;
    margin-top: 5vw;
}
.button{
    display: flex;
    padding: 1vw;
    min-width: 20vw;
    background: #e4b8c3;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: 1.5vw 1vw 1vw #e99fb1;
    justify-content: space-evenly;
    align-items: center;
}
.en-tete__contact_icone-telephone{
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;;
}
.en-tete__contact-text{
    font-size: 2vw;
    font-weight: bold; 
    padding-top: 0.3vw;
}

                    /*** Main --> Section Services ***/


.services{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 3vw;
}
.services__title{
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 3vw;

}
.services__lambda{
    display: flex;
    margin: 3vw auto ;
    align-items: center;
    box-shadow: 0 0 1vw #e99fb1;
    flex-direction: column;
    width: 80vw;
    border-radius: 20px;
    padding: 3vw;
}
.services__lambda_title{
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vw;
}
.services__lambda_text{
    width: 70vw;
    margin-bottom: 2vw;
    font-size: 1em;
    
}
.services__lambda_photos{
    text-align: center;
}

                    /***  Présentations des photos ***/


 .photo{ 
    box-shadow: 0 0 2vw #2e2027;
    border-radius: 10px; 
    width: 20vw; 
    margin: 5vw;
    left: -10vw;
}
.photo5{
    transform: rotate(0deg) translate(0vw, -4vw);
}
.photo8{
    transform: rotate(0deg) translate(0vw, -4vw);
} 
.photo9{
    transform: rotate(0deg) translate(0vw, -4vw);   
}
.photo13{
    transform: rotate(0deg) translate(0vw, -5vw);
} 
.photo18{
    transform: rotate(0deg) translate(0vw, -1vw);
} 

                            /*** Social media ***/

.socialmedia{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.socialmedia-img{
   width: 40px;
   margin: 0 3em;
}
.socialmedia-title{
    text-align: center;
    font-size: 1.5em;
    margin: 2em 0 1em;
}


                    /*** Styles de la barre de navigation ***/

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e99fb1;
    padding: 0.5rem 0.5rem;
    color: white;
    position: -webkit-sticky; /* Compatibilité Safari */
    position: sticky;
    width: 100%; /* Ou toute largeur < 100% */
    margin: 0 auto; /* Centre la navbar */
    z-index: 1000; /* Reste au-dessus du contenu */
    /* Optionnel : ajout d'une bordure ou ombre pour la visibilité */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.navbar.navbar-bottom{
    bottom: 0;
    width:100%;
    height: 4em;
}
.navbar-mentions.navbar-bottom{
    bottom: 0;
    width:20%;
    min-width: 100px;
}

.navbar-top{
    display: none;
}

.logo { font-size: 1.5rem; font-weight: bold; }

                    /*** Liste de liens ***/
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: auto;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 3vw;
    transition: color 0.3s;
}

.nav-links a:hover { color: #000; }


                    /************************/
                    /*** Mentions Légales ***/

.mentions{
    width:80%;
    margin:auto;
    padding-bottom: 3vw;
}
.footer-nav{
    text-align: center;
    padding: 20px 0px 30px;
}
.mentions-link{
    font-size: 0.8em;
}

                    /*** Réduction taille des liens sur petits écrans ***/

@media (max-width: 310px) {
    .nav-links a{
    font-size: 8px;
    } 
}


                        /*****************************/
                        /**  Screen width  > 580 px **/


@media screen and (width >= 570px){
    .container{
        background-color: #FFF;
        height: auto;
        width: 70vw;
        margin: auto; 
    }
    .button{
        border-radius: 20px;
    }
    .services__lambda{
        width: 70vw;
    }
    .services__lambda_text{
        width: 50vw;
        font-size: 1.3em;
    }
    .navbar.navbar-top{
        display: flex;
        width: 100%;
        padding: 1rem 0.2rem;
        top: 0;
    }
    .navbar-mentions.navbar-top{
        display: flex;
        width:10%;
        top: 0;
    }
    .navbar-bottom {
        display: none;
    }
    .nav-links a {
    font-size: 18px;
    }
    .mentions-link{
        font-size: 1.2em;
    }
    .footer-nav{
    text-align: center;
    padding: 0em 0em 2em;
    }
}
 
                    /*******************************/
                    /***  Screen width > 1000 px ***/


@media screen and (width >= 1000px){
    .container{
        background-color: #FFF;
        width: 70vw;
        margin: auto; 
    }
    .button{
        border-radius: 30px;
    }
    .nav-links{
        gap:30px;
    }
    .services__lambda_text{
        font-size: 1.7em;
    }
}
